<% include header.ejs %>

<div class="btn-group" role="group" aria-label="Basic example">
</div>
<div class="page-header">
    <h1 class="text-center">电控 硬件测试
        <small>--回收宝 HSB</small>
    </h1>
</div>
<div class="container jumbotron">
    <% if (buttonG){ %>
    <% buttonG.forEach(function(buttons){ %>
    <h1></h1>
    <div class="btn-group" role="group">
        <% buttons.forEach(function(button){ %>
        <a role="<%= button.type %>" class="<%= button.class %>" href="<%= button.href %>"><%= button.textContent %></a>
        <% }) %>
    </div>
    <% }) %>
    <% } %>
</div>

<% include footer.ejs %>
